<nav>
    <div
      [ngClass]=" customClass "
    >
      {{ customClass }}
      <a class="page-link">Test Anchor</a>
    </div>
    <ul class="pagination">
      <li
        class="page-item"
        [ngClass]=" { disabled: currentPage === 0 } "
      >
        <a class="page-link">Prev</a>
      </li>
      <ng-container *ngFor="let image of images; let i = index">
          <li
            class="page-item"
            [ngClass]="{ active: i === currentPage }"
            *ngIf="checkWindowIndex(i)"
          >
            <a (click)="currentPage = i; changeClass(i)" class="page-link">{{ i + 1 }}</a>
          </li>
        </ng-container>
      <li
          class="page-item"
          [ngClass]="{ disabled: currentPage === images.length - 1}"
      >
          <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
      </li>
    </ul>
  </nav>
  
<div>
    <h4 appClass [backgroundColor]=" 'lightBlue' ">{{ images[currentPage].title }}</h4>
    <h6 [appClass]=" 'Bold' " >This is a font-weight property of directive</h6>
    <h6 appClass [appClass2]="50" >This is a font-size property of directive</h6>
    <img [src]="images[currentPage].url" />

</div>