<div class="ui container">
    <div class="ui orange themed secondary pointing menu">
        <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="item"><b>HOME</b></a>
        <a routerLink="/elements" routerLinkActive="active" class="item">Elements</a>
        <a routerLink="/collections" routerLinkActive="active" class="item">Collections</a>
        <a routerLink="/views" routerLinkActive="active" class="item">Views</a>
        <a routerLink="/mods" routerLinkActive="active" class="item">Modules</a>
        <a routerLink="/weather" routerLinkActive="active" class="item">Weather</a>
    </div>
    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>