<div (click)="onCloseClick()" class="ui dimmer visible active">
  <div (click)="$event.stopPropagation()" class="ui modal visible active">
    <i (click)="onCloseClick()" class="close icon"></i>
    <div class="header">
      <ng-content select="[modalTitle]"></ng-content>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
    
    <div *ngIf="useDefaultAction; else elseBlock" class="actions">
      <button (click)="onCloseClick()" class="ui button">OK</button>
    </div>
    <ng-template #elseBlock>
      <div class="actions">
        <ng-content select="[modalFooter]"></ng-content>
      </div>
    </ng-template>

    <!-- <div *ngIf="!useDefaultAction" class="actions">
      <ng-content select="[modalFooter]"></ng-content>
    </div> -->
  </div>
</div>
